# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
name: CI / CD

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  frontend:

    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
        working-directory: client
        
    strategy:
      matrix:
        node-version: [14.x, 16.x, 17.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: remove & reinstall dependencies
        run: npm ci
        
      - name: Build
        run: npm run build --if-present
        
      - name: Test
        run: npm test
        
      - name: zip create
        run: zip -qq -r client/build-fe.zip
        shell: bash
    
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
            aws-access-key-id: ${{ secrets.TEST_ACCESS_KEY_ID}}
            aws-secret-access-key: ${{ secrets.TEST_SECRET_ACCESS_KEY}}
            aws-region: ${{ secrets.TEST_AWS_REGION }}
          
      - name: Upload to S3
        run: aws s3 cp --region ap-northeast-2 test/build-fe.zip s3://cicdtestbuckett/test/build-fe.zip

      - name: Code Deploy
        run: aws deploy create-deployment --application-name code-deploy-test --deployment-config-name CodeDeployDefault.AllAtOnce --deployment-group-name ci-cd-test --s3-location bucket=cicdtestbuckett,bundleType=zip,key=test/build-fe.zip

